.optButtons {
  width: 95%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 0.5rem;
  width: 100%;
  background: #4e7242;
  border-radius: 0.2rem;
  text-align: center;
  width: 8rem;
  color: #cffff3;
  outline: 1px solid #d8e3e94b;
  box-shadow: 3px 5px 0px #549fca63;
  transition: color .15s ease-in-out,
              background .15s ease-in-out;
}

.button:hover {
  background: #45613c;
  color: #cffff3;
}

.button ion-icon {
  font-size: 1.2rem;
}

@media (width <= 700px) {
  .optButtons {
    align-items: center;
    margin-bottom: 2rem;
  }
  .button {
    border-radius: 0.2rem;
    width: 8rem;
  }
}