.projects {
  display: flex;
  width: 60%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.projectCard {
  width: 30rem;
  height: 28rem;
  background: #4d476d3a;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 6px 1px #1e557563;
}

.projectName {
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  transition: color .10s ease-in-out;
}

.projectName:hover {
  color: #4c89ce;
}

.projectDescription {
  font-size: 1rem;
  width: 80%;
  padding-left: .8rem;
}

.projectPreview {
  height: 15rem;
  overflow: hidden;
}

.projectPreview img {
  width: 100%;
  height: 100%;
}

.projectInfo {
  padding: 1rem;
}

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.techs {
  display: inherit;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  padding: .35rem;
  border-radius: .25rem;
  background: #6e9bce42;
}


@media (width <= 999px) {
  .projects {
    width: 100%;
    justify-content: center;
  }
  .projectCard {
    width: 30rem;
    height: 25rem;
    margin-bottom: 2rem;
  }
  .projectName {
    font-size: 1rem;
  }
  .projectDescription {
    font-size: .95rem;
    padding-left: .5rem;
  }
  .projectPreview {
    height: 13rem;
  }
  .techs {
    font-size: 1.2rem;
  }
}


@media (width <= 500px) {
  .projects {
    width: 100%;
    justify-content: center;
    gap: 2rem;
  }
  .projectCard {
    width: 30rem;
    height: 29rem;
    margin-bottom: 2rem;
  }
  .projectName {
    font-size: 1rem;
  }
  .projectDescription {
    font-size: .95rem;
    padding-left: .5rem;
  }
  .projectPreview {
    height: 13rem;
  }
  .techs {
    font-size: 1.2rem;
  }
}