.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-projects {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 6rem 0;
}

.container-projects-title {
  text-align: left;
  margin-bottom: 2rem;
  font-family: "Nunito", sans-serif;
  font-size: 2.5rem;
  width: 60%;
}

@media (width <= 900px) {
  .container-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0.5rem;
  }
}
